.widget
  img(src='http://www.visitormap.org/map/m:glvccauzghuqnowa/s:1/c:ffffff/p:cross/y:1.png' border='0' height='60px' width='110px' style='margin-top: 10px; position: absolute; clip: rect(0px,110px,1px,0px);')
